@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,800;1,900&display=swap');

html[data-theme='light'] { background: rgb(235, 235, 231); }
html[data-theme='dark'] { background: rgb(119, 117, 117,1); }

/*! styles of toggle Change language and theme */
.assets {
	position: absolute;
	width: 96.5%;
	display: flex;
	justify-content: end;
	gap: 1.5%;
	align-items: center;
	top: 2%;
	z-index: 2;
}

.assets .btn-ChangeTheme {
	background: transparent;
	border: none;
	font-size: 2.3rem;
}

.assets .btn-ChangeTheme:hover i:active { animation: rotating 2s linear infinite normal both;}

@-webkit-keyframes rotating {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.assets .btnIdiom {
	background: none;
	border: none;
}

.assets .btnIdiom .language {
	width: 35px;
	height: 35px;
}

body { font-family: 'Poppins', sans-serif; }

.menuExtend {
    background: #212121;
    width: 20%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: space-around;
}

.menuExtend header {
   /* background: rgb(196, 131, 131);*/
    width: 98%;
}

.imageProfile {
	width: 100%;
	height: 30%;
    /* background: darkgray;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.imageProfile img {
	width: 60%;
    height: 80%;
	border-radius: 50%;
	border: 1px solid rgba(28, 46, 53,0.5);
}

@media screen and (max-width: 1400px) {
    /*.containerHome {
        background: palevioletred;
    }*/
}

@media screen and (max-width: 1309px) {
   /* .containerHome {
        background: palegreen;
    }*/

    .socialMedia li a  i { font-size: 140% !important; }

    .socialMedia ul { margin-left: -5%; }

    .footer { font-size: 0.8rem !important; }
}

@media screen and (max-width: 1280px) {
    /*.containerHome {
        background: lightblue;
    }*/

    .imageHome img { margin-left: 20%; }

    .informationPrincipal { width: 128% !important; }

    .buttons .btn-contact::after { margin-top: 9%; }
}

@media screen and (max-width: 1256px) {
    hr { display: none; }

    /*.containerHome {
        background: gold;
    }*/
}

@media screen and (max-width: 1142px) {
    .listMenu li { margin-left: -18%; }

    .menuExtend .listMenu li a  { font-size: 1rem !important; }

    .socialMedia li a i { font-size: 130% !important; }

    .informationDown {
       /* background: lavenderblush;*/
        font-size: 1rem !important;
    }

    .informationPrincipal p {
        font-size: 3.8rem !important;
        margin-top: 0% !important;
    }

    .informationPrincipal .Typewriter__wrapper {
       /* background: lawngreen;*/
        font-size: 4rem !important;
    }

    .buttons .btn-contact::after  { margin-top: 10%; }

    .imageHome img {
        width: 95% !important;
        height: 60% !important;
    }
}

@media screen and (max-width: 1029px) {
    /*.containerHome {
        background: rgb(144, 131, 130);
    }*/
    .menuExtend { width: 21.5%; }

    .informationPrincipal .Typewriter__wrapper {
        font-size: 3.8rem !important;
    }

    .informationDown p { font-size: 0.9rem; }

    .imageHome img { margin-left: 5%; }
}

@media screen and (max-width: 981px) {
    /*.containerHome {
        background: darkkhaki;
    }*/

    .socialMedia li a i { font-size: 1.26rem !important; }

    .imageProfile img {
        height: 70%;
        width: 70%;
    }
    .buttons button {   font-size: 0.65rem !important; }
}


@media screen and (max-width: 986px) {
    /*.containerHome {
        background: slateblue;
    }*/

    .informationPrincipal .Typewriter__wrapper { font-size: 3.5rem !important; }

    .imageHome img { margin-left: 20%; }

    .buttons { height: 6.5% !important; width: 115% !important; }
}

@media screen and (max-width: 924px) {
    /*.containerHome {
        background: green;
    }*/

    .imageProfile img{
        width: 65%;
        height: 64%;
    }

    .socialMedia li a i { font-size: 1.1rem !important; }

    .menuExtend .listMenu li a {
        font-size: 0.9rem !important;
    }

    .circle {
        width: 9px !important;
        height: 9px !important;
        margin-top: 1% !important;
    }

    .react { margin-top: 4% !important; }
    
    .informationPrincipal {
        flex-direction: column;
        align-items: center;
        height: 25% !important;
       /* background: gold;*/
    }

    .informationPrincipal p { margin-bottom: -3%; }
}

@media screen  and (min-height: 1360px) {
    .containerHome {
       /* background: rgb(236, 27, 97);*/
        flex-direction: column;
        align-items: center;
    }

    .menuExtend { width: 27%; }

    .imageProfile img {
        width: 80%;
        height: 60%;
    }
    
    .socialMedia { font-size: 1.4rem; }

    .menuExtend .listMenu li a { font-size: 1.4rem !important; }

    .information {
        width: 75% !important;
        height: 36%;
        order: 2;
        margin-top: -18%;
    }

    .imageHome {
        order: 1;
        width: 65% !important;
        height: 50%;
        margin-top: -25%;
    }

    .informationPrincipal { margin-top: -35%; }

    .informationDown p {
        margin-top: 5%;
        font-size: 1.5rem;
    }

    .buttons { height: 10% !important; }
} 

.socialMedia {
   /* background: palegreen;*/
    width: 100%;
    display: flex;
    justify-content: center;
}

.socialMedia ul {
    list-style: none;
    /* background: green;*/
    width: 50%;
    display: flex;
    justify-content: center;
    margin-right: 10%;
	margin-top: 2%;
    gap: 1rem;
}

.socialMedia li a i {
    font-size: 150%;
    color: rgba(255, 255, 255, 0.6);
}

.socialMedia li a i:hover { color: #FF4F5A; }

.socialMedia hr {
    width: 30%;
    margin-top: 7%;
	background-color: rgba(255, 255, 255, 0.6);
}

.menuExtend .listMenu {
   /* background: rgb(198, 226, 226);*/
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-top: 20%;
	margin-left: 3.5%;
}

.menuExtend .listMenu li {
    list-style: none;
    text-align: left;
    width: 100%;
   /*background: gold;*/
}

.menuExtend .listMenu li a {
    color: rgba(255, 255, 255,0.6); /*#242020;*/
    text-decoration: none;
    display: flex;
    font-size: 1.2rem;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-top: 20px;
}

.circle {
    margin-right: 10px;
    height: 10px;
    width: 10px;
    margin-top: 5px;
    margin-left: -1px;
    border-radius: 50%;
    border: 2px solid #FF4F5A; /*rgb(30, 27, 27)*/
    transition: all 0.3s;
}

.react {
    height: 5px;
    width: 0px;
    margin-top: 9px;
    -webkit-transition: -webkit-transform 0.1s, width 0.6s;
    -moz-transition: -webkit-transform 0.1s, width 0.6s;
    transition: transform 0.1s, width 0.6s;
}

.menuExtend nav a:focus { color: #FF4F5A;}

.menuExtend nav a:hover, nav .active{ color: #FF4F5A; }

.menuExtend nav a:hover span, nav .active span { background-color:#FF4F5A; }

.menuExtend nav .active .rect { width: 30px; }

.menuExtend nav .active:hover .circle { 
    background:#FF4F5A;
    border: solid #FF4F5A;
}

.menuExtend nav ul li a:focus .react { width: 55px; }

.footer {
  /*  background: hotpink;*/
    margin-top: 35%;
    text-align: center;
    color: rgba(255, 255, 255,0.6);
    font-size: 0.9rem;
}


/*! Hamburger menu styles */
#menuHamburger {
    display: none;
}

@media screen and (max-width: 840px) {
    .imageProfile {
        background: rgb(70, 174, 70);
    }

    .assets { justify-content: start; }

    .menuExtend { display: none; }

    #menuHamburger { display: flex; background: gold; }

    #nav-btn {
		cursor: pointer;
		height: 56px;
		opacity: 0;
		position: absolute;
		top: 2%;
		right: 44px;
		width: 56px;
		z-index: 100;
	}

    #nav-btn + label {
		background-color: #FF656F;
		cursor: pointer;
		display: block;
		height: 4px;
		position: absolute;
		right: 40px;
		top: 44px;
		width: 50px;
		z-index: 99;
	}

    #nav-btn + label::before, #nav-btn + label::after {
		background-color:#FF656F;
		content: "";
		display: block;
		height: 4px;
		left: 0;
		position: absolute;
		width: 50px;
	}

    #nav-btn + label::before { top: -15px; }

	#nav-btn + label::after { bottom: -15px; }

	#nav-btn + label::before, #nav-btn + label::after {
		transition-delay: 0.3s, 0s;
		transition-duration: 0.3s, 0.3s;
	}

    #nav-btn + label::before { transition-property: top, transform; }

	#nav-btn + label::after { transition-property: bottom, transform; }

	#nav-btn:checked + label { background: none; }

    #nav-btn:checked + label::before {
		top: 0;
		transform: rotate(45deg);
	}

	#nav-btn:checked + label::after {
		bottom: 0;
		transform: rotate(-45deg);
	}

	#nav-btn:checked + label::before,
	#nav-btn:checked + label::after { transition-delay: 0s, 0.3s; }

	#nav-btn:checked ~ nav {
		left: 0px;
		opacity: 100;
		position: fixed;
		visibility: 1;
		z-index: 98;
	}

    #nav-btn:checked ~ nav ul { transform: translate(-50%, -50%); }

	.menuHamburger {
		background: rgb(169, 75, 81) none repeat scroll 0% 0%;
		height: 100%;
		opacity: 0;
		position: absolute;
		top: 0px;
		transition: opacity 0.5s ease 0s, visibility 0s ease 0.5s;
		visibility: 0;
		width: 100%;
		z-index: -1;
		font-family: sans-serif;
	}

	.menuHamburger ul {
		left: 50%;
		--moz-transition: all 1s ease-in-out;
		--o-transition: all 1s ease-in-out;
		position: absolute;
		top: 50%;
		transform: translate(-50%, 0%);
		transition: all 1s ease-in-out;
		--webkit-transition: all 1s ease-in-out;
	}

	.menuHamburger li {
		font-size: 30px;
		list-style: none;
		padding-bottom: 10px;
		text-align: center;
	}

	.menuHamburger li a {
		color: rgb(33, 33, 33);
		text-decoration: none;
        transition: all 1s;
	} 

	.menuHamburger ul li a:hover { color: rgba(223, 220, 220, 0.4); }

    .containerHome {
        background: rgb(229, 126, 52);
        width: 100% !important;
        margin-left: 0% !important;
    }
}

@media screen and (max-width: 670px) {
    .containerHome {
        background: skyblue;
        flex-direction: column;
        align-items: center;
    }

    .imageHome {
       /* background: ghostwhite;*/
        width: 40% !important;
        align-content: center;
        order: 1;
    }

    .imageHome img {
        height: 95% !important;
    }

    .information {
        order: 2;
        /*background: gold;*/
        width: 90% !important;
        height: 40%;
    }

    .informationPrincipal {
        height: 40% !important;
    }

    .informationDown {
       /* background: gray;*/
        margin-top: 1% !important;
    }

    .buttons {
        margin-top: 2%;
        height: 14% !important;
        width: 85% !important;
    }


    .buttons .btn-contact::after {
        margin-top: -15% !important;
    }
}