
#searchClass {
	position: absolute;
    width: 75%; 
    margin-left: 22.5%;
	margin-top: 7%;
    /*background: darkcyan;*/
}

#searchClass input[type='radio'] { display: none; }

#searchClass label {
    font-size: 1.3rem;
    font-family: 'Poppins', sans-serif;
	font-weight: 600;
	border-radius: 55px;
	cursor: pointer;
	transition-duration: 1s;
	margin-left: 3rem;
	/*background: green;*/
}

#searchClass label:hover {
    color: #FF4F5A;
}

#elements {
	width: 100%;
	transition: all 2s ease-in;
}


#htmls:checked ~ #elements .vanilla,
#htmls:checked ~ #elements .react,
#htmls:checked ~ #elements .react-redux,
#htmls:checked ~ #elements .react-bootstrap,
#htmls:checked ~ #elements .react-axios
{ display: none; transition: all 2s ease-in;}


#vanillas:checked ~ #elements .html,
#vanillas:checked ~ #elements .react,
#vanillas:checked ~ #elements .react-redux,
#vanillas:checked ~ #elements .react-bootstrap,
#vanillas:checked ~ #elements .react-axios
{
	display: none;
	transition: all 2s ease-in;
}

#reacts:checked ~ #elements .vanilla,
#reacts:checked ~ #elements .html,
#reacts:checked ~ #elements .react-redux,
#reacts:checked ~ #elements .react-bootstrap,
#reacts:checked ~ #elements .react-axios
{
	display: none;
	transition: all 2s ease-in;
}

#react-bootstraps:checked ~ #elements .vanilla,
#react-bootstraps:checked ~ #elements .react,
#react-bootstraps:checked ~ #elements .react-redux,
#react-bootstraps:checked ~ #elements .html,
#react-bootstraps:checked ~ #elements .react-axios
{
	display: none;
	transition: all 2s ease-in;
}

#react-reduxs:checked ~ #elements .vanilla,
#react-reduxs:checked ~ #elements .react,
#react-reduxs:checked ~ #elements .html,
#react-reduxs:checked ~ #elements .react-bootstrap,
#react-reduxs:checked ~ #elements .react-axios
{
	display: none;
	transition: all 2s ease-in;
}
#react-axioss:checked ~ #elements .vanilla,
#react-axioss:checked ~ #elements .react,
#react-axioss:checked ~ #elements .react-redux,
#react-axioss:checked ~ #elements .react-bootstrap,
#react-axioss:checked ~ #elements .html{
	display: none;
	transition: all 2s ease-in;
}

.react { background: transparent; }

/****************************************************/

.flip-mainContainer {
    margin-top: 3%;

}

.flip-card-frontContainer img {
    max-width: 100%;
	vertical-align: middle;
}

.rowContainer {
    /*background: rgb(207, 119, 109);*/
	display: flex;
	flex-wrap: wrap;
    margin-top: -8%;
    max-width: 100%;
}

.containerPortfolio {
	max-width: 1170px;
	margin:auto;
	background: transparent;
	width: 100%;
	height: 100vh;
}

.flip-mainContainer {
	max-height: 100vh;
	/*background-color: rgb(221, 227, 247);*/
	padding: 100px 0;
	max-width: 250vh;
	font-family: 'Poppins', sans-serif;
	
}

.flip-mainContainer .flip-cardContainer {
    flex:0 0 calc(33.33% - 30px);
    margin:0 15px 30px;
    perspective: 1000px;
}

.flip-mainContainer .flip-card-innerContainer {
	/*box-shadow: 0 0 10px rgb(169, 179, 214);*/
	position: relative;
	transform-style: preserve-3d;
	transition: all 1s ease;
}

.flip-mainContainer .flip-card-frontContainer img { width: 100%; }

.flip-mainContainer .flip-card-frontContainer,

.flip-mainContainer .flip-card-backContainer { backface-visibility: hidden; }

.flip-mainContainer .flip-card-backContainer {
	background-color: rgb(255, 79, 90, 0.5);
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	transform: rotateY(180deg);
}

.flip-mainContainer .flip-card-backContainer h3 {
	font-size: 1.3rem;
	color: #212121;
	margin: 0 0 5px;
	font-weight: 700;
}

.flip-mainContainer .flip-card-backContainer p {
	font-size: 1.2rem;
	color: #212121;
	font-style: italic;
	margin: 0;
}


.flip-mainContainer .flip-card-backContainer button {
	border: none;
	margin-left: 1rem;
	padding: 0.6rem;
	background: transparent;
	margin-top: 1rem;
	transition: all 1s;
}

.flip-mainContainer .flip-card-backContainer button:hover {
	background: #FF4F5A;
	border-radius: 10px;
	color: rgb(255, 239, 239);
}

.flip-card-backContainer button a {
	text-decoration: none;
	color:rgb(0, 0, 0, 0.7);
}

.flip-mainContainer .flip-cardContainer:hover .flip-card-innerContainer { transform: rotateY(180deg); }

@media screen and (max-width: 1510px) {
	#searchClass label {
		margin-left: 2rem !important;
		font-size: 1.3rem;
		margin-top: 1rem;
	}
}

@media screen and (max-width: 1510px) {
	#searchClass label{
		margin-left: 2rem !important;
		font-size: 1.22rem;
	}
}

@media(max-width: 991px) {
	#searchClass label{
		background: rgb(255, 79, 90, 0.5);
		display: flex;
		margin-left: 1rem !important;
		margin-top: 0.3rem !important;
		justify-content: center;
		font-size: 1.3rem;
		font-weight: 400;
	}

	#searchClass label:hover {
		color:rgb(206, 65, 74);
	}

    .flip-mainContainer .flip-cardContainer {
        flex: 0 0 calc(50% - 30px);
    } 
}

@media(max-width: 767px) {
    .flip-mainContainer .flip-cardContainer {
        flex: 0 0 calc(100% - 30px);
    }
}

/**/
.container_portfolio{
	/*background: salmon;*/
	width: 80%;
	margin-left: 20%;
	display: flex;
	flex-direction: column;
}

.margin {
	margin-top: 2% !important;
}

.titlePortfolio {
	margin-left: 5%;
	text-transform: uppercase;
}

.blog-card {
	width: 70%;
	display: flex;
    flex-direction: column;
	margin: 1rem auto;
	box-shadow: 0 3px 7px -1px rgba(#000, .1);
	margin-bottom: 1.6%;
	background: white;
	line-height: 1.4;
	font-family: sans-serif;
	border-radius: 5px;
	overflow: hidden;
	z-index: 0;
}

.blog-card a {
    color: inherit;
}


.blog-card .photo:hover {
    transform: scale(1.3) rotate(3deg);
}

.meta {
	position: relative;
    z-index: 0;
    height: 200px;
}

.butonsLinks {
	display: flex;
	gap: 1%;
}

.butonsLinks button {
	width: 50%;
	height: 100%;
	border: none;
	margin-top: 2%;
	padding: 1rem;
	
	background: rgba(128, 128, 128,0.2);
}

.butonsLinks a {
	text-decoration: none;
}

.butonsLinks button:hover {
	background: rgba(255, 79, 90,0.8);
	border: none;
}

/*.butonsLinks {
	display: flex;
	justify-content: end;
	width: 100%;
	gap: 2rem;
}

.butonsLinks button {
	border-radius: 16px;
	border: #212121 1.5px solid;
	background: transparent;
	margin-top: -4%;
}

.butonsLinks button:hover {
	background: rgba(255, 79, 90,0.8);
	border: none;
}

.butonsLinks button:active {
	color: white;
}

.butonsLinks button a {
	text-decoration: none;
}*/

.photo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    transition: transform .2s;
}

.details, .details ul {
	margin: auto;
    padding: 0;
    list-style: none;
}

.details {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    margin: auto;
    transition: left .2s;
    background: rgba(#000, .6);
    color: white;
    padding: 10px;
    width: 100%;
    font-size: .9rem;
}

.details a {
	text-decoration: dotted underline
}

.details ul li {
	display: inline-block;
}

.details .author::before {
	margin-right: 10px;
	content: "\f007";
}

.details .date::before {
	font-family: FontAwesome;
	margin-right: 10px;
	content: "\f133";
}

.details .tags ul::before {
	font-family: FontAwesome;
    content: "\f02b";
    margin-right: 10px;
}

.details .tags ul li {
	margin-right: 2px;
}

.details .tags ul li:first-child {
	margin-left: -4px;
}

.description {
    padding: 1rem;
    background: white;
    position: relative;
    z-index: 1;
}

.description h1, h2 {
    font-family: Poppins, sans-serif;
}

.description h1 {
	line-height: 1;
	margin: 0;
	font-size: 1.7rem;
}

.description h2 {
	font-size: 1rem;
	font-weight: 300;
	text-transform: uppercase;
	color: #FF4F5A;
	margin-top: 5px;
}

.read-more {
	text-align: right;
}

/*.description a {
	color: #FF4F5A;
	display: inline-block;
	position: relative;
}*/

/*.description a::after {
	content: "\f061";
	margin-left: -10px;
	opacity: 0;
	vertical-align: middle;
	transition: margin .3s, opacity .3s;
}*/

/*.description a:hover:after {
	margin-left: 5px;
	opacity: 1;
}*/

.description p {
    position: relative;
	margin: 1rem 0 0;
}

.description p:first-of-type {
	margin-top: 1.25rem;
}

.description p::before {
	content: "";
    position: absolute;
    height: 5px;
    background: #FF4F5A;
    width: 35px;
    top: -0.75rem;
    border-radius: 3px;
}

.blog-card:hover {
	left: 0%;
}

/*.imagenesLogos {
	display: flex;
	gap: 1rem;
	width: 50px;
	height: 60px;
}

.imagenesLogos img {
	width: 100%;
	object-fit: contain;
}

.css {
width: 35px !important;
}*/

.imagenesLogos {
	width: 180px;
	margin-top: 2rem;
	display: flex;
	flex-direction: row;
	gap: 1.5rem;
	
}

.imagenesLogos img {
	width: 100%;
	object-fit: contain;
}

.reactjs {
	width: 105px !important;
	object-fit: cover;
}

.css  {
	object-fit: contain;
	width: 45px !important;
}

.visibleBtn {
	width: 70%;
	margin: 3% 15%;
	background: rgb(128, 128, 128,0.4);
	border: none;
	border-radius: 10px;
}

.visibleBtn:hover {
	transform: scale(1.2);
}

.sequelize {
	width: 55px;
	height: 55px;
}

.bootstrap {
	width: 60px;
	height: 60px;
	margin-top: 2%;
}